<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginCommand</key>
	<string></string>
	<key>endCommand</key>
	<string></string>
	<key>beginInstruction</key>
	<string></string>
	<key>endInstruction</key>
	<string></string>
	<key>beginVariable</key>
	<string></string>
	<key>endVariable</key>
	<string></string>
	<key>firstString</key>
	<string>''</string>
	<key>secondString</key>
	<string></string>
	<key>firstSingleLineComment</key>
	<string>//</string>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string>/*</string>
	<key>endFirstMultiLineComment</key>
	<string>*/</string>
	<key>beginSecondMultiLineComment</key>
	<string></string>
	<key>endSecondMultiLineComment</key>
	<string></string>
	<key>functionDefinition</key>
	<string>^\s*(new|static|public|private|protected|abstract|virtual|override|global|static|final).*\(.*\).*\n?\s*\{</string>
	<key>removeFromFunction</key>
	<string></string>
	<key>keywordsCaseSensitive</key>
	<false/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>keywords</key>
	<array>
		<string>abstract</string>
		<string>and</string>
		<string>any</string>
		<string>array</string>
		<string>blob</string>
		<string>break</string>
		<string>bulk</string>
		<string>byte</string>
		<string>case</string>
		<string>catch</string>
		<string>char</string>
		<string>continue</string>
		<string>const</string>
		<string>class</string>
		<string>commit</string>
		<string>default</string>
		<string>delete</string>
		<string>do</string>
		<string>else</string>
		<string>enum</string>
		<string>exception</string>
		<string>extends</string>
		<string>final</string>
		<string>false</string>
		<string>finally</string>
		<string>float</string>
		<string>for</string>
		<string>future</string>
		<string>global</string>
		<string>goto</string>
		<string>if</string>
		<string>implements</string>
		<string>insert</string>
		<string>instanceof</string>
		<string>int</string>
		<string>interface</string>
		<string>import</string>
		<string>list</string>
		<string>long</string>
		<string>map</string>
		<string>merge</string>
		<string>null</string>
		<string>override</string>
		<string>package</string>
		<string>protected</string>
		<string>public</string>
		<string>private</string>
		<string>return</string>
		<string>rollback</string>
		<string>savepoint</string>
		<string>select</string>
		<string>set</string>
		<string>short</string>
		<string>sort</string>
		<string>static</string>
		<string>super</string>
		<string>switch</string>
		<string>system</string>
		<string>testmethod</string>
		<string>this</string>
		<string>throw</string>
		<string>trigger</string>
		<string>true</string>
		<string>try</string>
		<string>undelete</string>
		<string>update</string>
		<string>using</string>
		<string>virtual</string>
		<string>webservice</string>
		<string>while</string>
	</array>
	<key>autocompleteWords</key>
	<array/>
	<key>name</key>
	<string>Apex</string>
	<key>extensions</key>
	<string>apex cls tgr</string>
</dict>
</plist>
